/* 普通IE浏览器 样式清除 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
/* 火狐浏览器样式清除 */
input[type="number"] {
  -moz-appearance: textfield;
}
.selected {
  span {
    color: #42b983;
  }
}
.el-select {
  .el-input {
    .el-select__caret {
      color: white;
    }
  }
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #42b983;
}
.el-pagination {
  margin: 20px auto;
}
.el-button--text {
  color: #42b983;
}
a :hover {
  color: #42b983;
}
.el-button--text:focus,
.el-button--text:hover {
  color: #42b983;
}
.el-button--text:focus,
.el-button--text {
  color: #606266;
  .el-icon-circle-plus-outline,
  .el-icon-circle-close {
    font-size: 16px;
    margin: 0 2px;
  }
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  color: #42b983;
  border-color: #42b983;
}
.el-button:active {
  color: #42b983;
  border-color: #42b983;
}
.el-button:focus,
.el-button:hover {
  color: #42b983;
  border-color: #5ad69e;
  background-color: #eaf8f2;
}
.el-upload--picture-card:hover,
.el-upload:focus {
  color: #40a375;
}
.el-button:focus,
.el-button:hover {
  border: none;
  background-color: transparent;
}
.el-button--text,
.el-button--text.is-disabled,
.el-button--text.is-disabled:focus,
.el-button--text.is-disabled:hover,
.el-button--text:active {
  border: none;
}
@keyframes bg-move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1316px -1240px;
  }
}
.el-slider__bar {
  background-color: #42b983;
}
.el-slider__button {
  border-color: #42b983;
}
.el-button--primary {
  color: #369c6e;
  background: #eaf8f2;
  border: 2px solid #42b983;
}
.el-button--primary:hover {
  color: #fff;
  background: #42b983;
  border: 1px solid #42b983;
}
.el-switch.is-checked .el-switch__core {
  background-color: #42b983;
  border-color: #42b983;
}
.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: #42b983;
}
.el-input-number__decrease:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled) {
  border-color: #42b983;
}
.collection {
  .el-tabs__item:hover {
    color: #42b983;
  }
  .is-active {
    color: #42b983;
  }
}
.maker {
  .el-input-group {
    border: 1px solid #42b983;
    border-right: none;
    border-radius: 5px;
    .el-select {
      border: none;
      background-color: #42b983;
      color: white;
    }
    .el-input-group__append {
      .el-button {
        border: 1px solid #42b983;
        background-color: #42b983;
        color: white;
      }
    }
  }
}

.page-register {
  .btns {
    .el-form-item__content {
      margin: 30px auto;
      .el-button--primary {
        margin: 0 50px 0 100px;
        color: #fff;
        background-color: #42b983;
      }
      .el-button--primary:hover {
        border: 2px solid #42b983;
        color: #42b983;
        background-color: #eaf8f2;
      }
      .site-logo {
        .el-button--info {
          border: 2px solid #909399;
        }
        .el-button--info:hover {
          border: 2px solid #42b983;
          color: #42b983;
          background-color: #eaf8f2;
        }
      }
    }
  }
}

.page-register {
  .register-btn {
    margin: 40px auto;
    .el-button--primary {
      color: #fff;
      background-color: #42b983;
      margin: 0 180px;
    }
    .el-button--primary:hover{
      border: 2px solid #42b983;
      color: #42b983;
      background-color: #eaf8f2;
    }
  }
  a:hover{
    cursor: pointer;
  }
  .margin-r{
    text-align: right;
  }
}
