/* 普通IE浏览器 样式清除 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
/* 火狐浏览器样式清除 */
input[type="number"] {
  -moz-appearance: textfield;
}
.selected span {
  color: #42b983;
}
.el-select .el-input .el-select__caret {
  color: white;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #42b983;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #42b983;
}
.el-pagination {
  margin: 20px auto;
}
.meme-card .img-box[data-v-d3e84ae2] {
  box-shadow: 0 0 5px #dcdfe6;
  margin-bottom: 6px;
  height: 124px;
}
.el-button--text {
  color: #42b983;
}
a :hover {
  color: #42b983;
}
.el-button--text:focus,
.el-button--text:hover {
  color: #42b983;
}
.el-button--text:focus,
.el-button--text {
  color: #606266;
}
.el-button--text:focus .el-icon-circle-plus-outline,
.el-button--text .el-icon-circle-plus-outline,
.el-button--text:focus .el-icon-circle-close,
.el-button--text .el-icon-circle-close {
  font-size: 16px;
  margin: 0 2px;
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  color: #42b983;
  border-color: #42b983;
}
.el-button:active {
  color: #42b983;
  border-color: #42b983;
}
.el-button:focus,
.el-button:hover {
  color: #42b983;
  border-color: #5ad69e;
  background-color: #eaf8f2;
}
.el-upload--picture-card:hover,
.el-upload:focus {
  color: #40a375;
}
.el-button:focus,
.el-button:hover {
  border: none;
  background-color: transparent;
}
.el-button--text,
.el-button--text.is-disabled,
.el-button--text.is-disabled:focus,
.el-button--text.is-disabled:hover,
.el-button--text:active {
  border: none;
}
@keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1316px -1240px;
  }
}
.blank {
  height: 200px;
  background: url(../img/bg.jpg);
  animation: bg-move 60s linear infinite;
}
.not-found {
  margin: 20px auto;
  text-align: center;
  height: 300px;
}
.not-found .bg {
  height: 180px;
  background: url(../img/404.jpg) center;
  margin: auto;
  opacity: 0.6;
}
.not-found h1 {
  padding: 20px;
  color: #42b983;
  font-size: 50px;
}
#gen-gif .el-slider__bar {
  background-color: #42b983;
}
#gen-gif .el-slider__button {
  border-color: #42b983;
}
#gen-gif .el-button--primary {
  color: #369c6e;
  background: #eaf8f2;
  border: 2px solid #42b983;
}
#gen-gif .el-button--primary:hover {
  color: #fff;
  background: #42b983;
  border: 1px solid #42b983;
}
#gen-gif .el-switch.is-checked .el-switch__core {
  background-color: #42b983;
  border-color: #42b983;
}
#gen-gif .el-input-number__decrease:hover,
#gen-gif .el-input-number__increase:hover {
  color: #42b983;
}
#gen-gif .el-input-number__decrease:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled),
#gen-gif .el-input-number__increase:hover:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
  border-color: #42b983;
}
